<div>
  <div class="col">
    <h1>Workouts Index</h1>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Duration</th>
        </tr>
      </thead>

      <% @workouts.each do |workout| %>
        <tbody>
          <tr>
            <td><%= workout.date %></td>
            <td><%= workout.location %></td>
            <td><%= workout.duration %>Minutes</td>
            <td><%= link_to 'View', workout_path(workout) %></td>
            <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
          </tr>
        </tbody>
      <% end %>

      </table>
    </br>

    <%= link_to 'Record new workout', new_workout_path %>
  </div>
</div>