<div class="row">
  <form class="col s12">
    <div class="row">
      <%= form_for(@run, html: {multipart: true}) do |f| %>

        <div>
          <%= f.label :date %><br>
          <%= f.text_field :date, class: "datepicker" %>
        </div>

        <div class="input-field col s6">
          <%= f.label :start_time %><br>
          <%= f.time_field :start_time %>
        </div>

        <div class="input-field col s6">
          <%= f.label :end_time %><br>
          <%= f.time_field :end_time %>
        </div>

        <div class="input-field col s6">
          <%= f.label :location %><br>
          <%= f.text_field :location %>
        </div>

        <div class="input-field col s6">
          <%= f.label :distance %><br>
          <%= f.number_field :distance %>
        </div>

        <div class="input-field col s12">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </p>

        <div class="col">
          <%= f.submit "Submit" %>
        </div>

      <% end %>

    </div>
  </form>
</div>

<script type="text/javascript">
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>
