<div class="row">
  <div class="col">
    <h1><span>Runs</span></h1>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Distance</th>
        </tr>
      </thead>

      <% @runs.each do |run| %>
        <tbody>
          <tr>
            <td><%= run.date %></td>
            <td><%= run.location %></td>
            <td><%= run.distance %>Miles</td>
            <td><%= link_to 'View', run_path(run) %></td>
            <td><%= link_to 'Edit', edit_run_path(run) %></td>
          </tr>
        </tbody>
      <% end %>

    </table>

    <div class="col">
        <%= link_to 'Add', new_run_path, class: "btn-floating btn-large waves-effect waves-light red" %>
    </div>
  </div>
</div>
