<div class="row">
  <div class="col">
    <h1><span class="badge warning">Activities</span></h1>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Location</th>
          <th>Duration</th>
        </tr>
      </thead>

      <% @activities.each do |activity| %>
        <tbody>
          <tr>
            <td><%= activity.date %></td>
            <td><%= activity.location %></td>
            <td><%= activity.duration %>Minutes</td>
          </tr>
        </tbody>
      <% end %>

      </table>
    </br>

    <div class="col">
      <%= link_to 'Record new workout', new_workout_path, class: 'paper-btn' %>
      <%= link_to 'Record new run', new_run_path, class: 'paper-btn' %>
    </div>
  </div>
</div>
