<div class="row">
  <div class="col">
    <h1><span class="badge warning">Activities</span></h1>

      <% @activities.each do |activity| %>
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title"><%= activity.date %></h4>
            <h5 class="card-subtitle"><%= activity.location %></h5>
            <p class="card-text"><%= activity.description %></p>
            <a class="card-link" href="#">
              <%= link_to 'View', activity_path(activity) %>
            </a>
            <a class="card-link" href="#">
              <%= link_to 'Edit',edit_activity_path(activity) %>
            </a>
          </div>
        </div>
      <% end %>

    <div class="col">
      <%= link_to 'Record new workout', new_workout_path, class: 'paper-btn' %>
      <%= link_to 'Record new run', new_run_path, class: 'paper-btn' %>
    </div>
  </div>
</div>
